header{
    background-color: #bbbbbb;
}
nav li{
    display: inline;
    /* que ocupe su contenido */
    margin: 0 0 0 15px;
    /* arriba, abajo, izquierda, derecha */
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}