header {
    background-color: #bbbbbb;
    padding: 20px 0;
}

.caja {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    /* que ocupe su contenido */
    margin: 0 0 0 15px;
    /* arriba, abajo, izquierda, derecha */
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.productos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    /* cada card se dividen entre el 90% del espacio */
    vertical-align: top;
    /* Alinea las cards, arriba */
    margin: 0 1.5%;
    /* margen laterales de 1.5% para espaciar las cards */
    padding: 30px 20px;
    /* para ajustar el tamaño de la card */
    box-sizing: border-box;
    /* para que el padding no sobrepase el width */
}

.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.producto-descripcion {
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}