body{
    /* background: #cccccc; */
}

h1{
    text-align: center;
    height: 150px;
    border: 10px solid #000000;
    padding: 20px;
    margin: 40px;
}
p{
    text-align: center;
    
}

em strong{
    color: red;
}
h2{
    text-align: center;
}
#mision{
    font-size : 20px;
}
#banner{
    width: 100%;
}
.principal{
    background: #cccccc;
}
.diferenciales{
    background-color: #ffffff;
}
.items{
    font-style: italic;
}